<nav id="sidebar-icon-links">
  
  <a id="scholar-link" class="icon" title="Scholar" aria-label="Scholar" 
    href="https://scholar.google.co.in/citations?user=L8XYpAwAAAAJ">
    <i class="ai ai-google-scholar-square ai" aria-hidden="true"></i>
  </a> 

  <a id="github" class="icon" title="GitHub" aria-label="GitHub"
    href="https://github.com/mlrgisi">
    <i class="fa fa-github-square fa" aria-hidden="true"></i>
  </a>

  <a id="gmail-link" class="icon" title="Mail" aria-label="Mail"
     href="mailto:swagtam.das@isical.ac.in">
      <i class="fa fa-envelope-square fa" aria-hidden="true"></i>
  </a>

</nav>
